<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MachServices</key>
	<dict>
		<key>org.ptpwebcam.PtpWebcamAgent</key>
		<true/>
	</dict>
	<key>ProcessType</key>
	<string>Interactive</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/CoreMediaIO/Plug-Ins/DAL/PTPWebcamDALPlugin.plugin/Contents/Frameworks/PtpWebcamLaunchAgent.app/Contents/MacOS/PtpWebcamLaunchAgent</string>
	</array>
	<key>Label</key>
	<string>org.ptpwebcam.PtpWebcamAgent</string>
	<key>StandardErrorPath</key>
	<string>/tmp/org.ptpwebcam.PtpWebcamAgent.stderr.log</string>
	<key>StandardOutPath</key>
	<string>/tmp/org.ptpwebcam.PtpWebcamAgent.stdout.log</string>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.iokit.matching</key>
		<dict>
			<key>com.apple.device-attach.any</key>
			<dict>
				<key>idProduct</key>
				<string>*</string>
				<key>idVendor</key>
				<string>*</string>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.device-attach.canon</key>
			<dict>
				<key>idProduct</key>
				<string>*</string>
				<key>idVendor</key>
				<integer>1193</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.device-attach.nikon</key>
			<dict>
				<key>idProduct</key>
				<string>*</string>
				<key>idVendor</key>
				<integer>1200</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.device-attach.sony</key>
			<dict>
				<key>idProduct</key>
				<string>*</string>
				<key>idVendor</key>
				<integer>1356</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>KeepAlive</key>
	<true/>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
