<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MachServices</key>
	<dict>
		<key>org.ptpwebcam.PtpWebcamAssistant</key>
		<true/>
	</dict>
	<key>ProcessType</key>
	<string>Interactive</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/CoreMediaIO/Plug-Ins/DAL/PTPWebcamDALPlugin.plugin/Contents/Resources/PtpWebcamSimpleAssistant</string>
	</array>
	<key>Label</key>
	<string>org.ptpwebcam.PtpWebcamAssistant</string>
	<key>StandardErrorPath</key>
	<string>/Library/Logs/org.ptpwebcam.PtpWebcamAssistant.stderr.log</string>
	<key>StandardOutPath</key>
	<string>/Library/Logs/org.ptpwebcam.PtpWebcamAssistant.stdout.log</string>
    <key>Debug</key>
    <true/>
</dict>
</plist>
